body {
    font-family: 'helvetica', 'sans-serif';
    margin: 0;
    background-color: black;
}

/* start: global style rules */
h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.5em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p, label, strong {
    line-height: 2;
    font-size: 0.85em;
    font-weight: 300;
}

.flex {
    display: flex;
    max-width: 2900px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

/* end: global style rules */

/* start: header styles */
header {
    background-color: #131313;
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #FFB320;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 18px;
}

nav ul li a {
    color: #eee;
    font-weight: 600;
}

nav ul li a:hover {
    color: #FFB320;
}

#login-register-button {
    background-color: #FFB320;
    color: #131313;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 600;
}
/* end: header styles */

/* start: search */

.search-box {
    position: relative;
    left: 50%;
    margin-top: 40px; 
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.strip {
    display: block;
    height: 1px;
    background-color: #FFB320;
    margin: 4px 0;
}

/* end: search */


/* start: list-of-games; */

#list-of-games a{
    color: white;
}

#list-of-games img {
    width: 400px;
    height: 400px;
}
#list-of-games {
    margin: 0px;
    padding: 0px;
}
.games-list {
    
    
}
#myUL {
    padding: 0;
}
.games-link {
    padding: 0 15px;
}
.games-link img {
    padding: 0 15px;
}
.games-container {
    background-color: #111112;
}

.description-of-games {
    position: absolute;
    color: white;
    margin-left: 425px;
    margin-top: 50px;
}

/* end: list-of-games; */


