body {
    font-family: 'helvetica', 'sans-serif';
    margin: 0;
    background-color: black;
}

/* start: global style rules */
h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.5em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p, label, strong {
    line-height: 2;
    font-size: 0.85em;
    font-weight: 300;
}

.flex {
    display: flex;
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    
}

/* end: global style rules */

/* start: header styles */
header {
    background-color: #131313;
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #FFB320;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 18px;
}

nav ul li a {
    color: #eee;
    font-weight: 600;
}

nav ul li a:hover {
    color: #FFB320;
}

#login-register-button {
    background-color: #FFB320;
    color: #131313;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 600;
}
/* end: header styles */