body {
    font-family: 'helvetica', 'sans-serif';
    margin: 0;
    background-color: black;
}

/* start: global style rules */
h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.5em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

p, label, strong {
    line-height: 2;
    font-size: 0.85em;
    font-weight: 300;
}

.flex {
    display: flex;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

.badge {
    padding: 9px 20px;
    color: #eee;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 0.75em;
}

.badge.new {
    background-color: #FF205F;
}

.badge.strategy {
    background-color: #4EAE60;
}

.badge.racing {
    background-color: #694EAE;
}

.badge.rpg,
.badge.adventure {
    background-color: #40ABF5;
}


/* end: global style rules */

/* start: header styles */
header {
    background-color: #131313;
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #FFB320;
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid #FFB320;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #FFB320;
    margin: 4px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 18px;
}

nav ul li a {
    color: #eee;
    font-weight: 600;
}

nav ul li a:hover {
    color: #FFB320;
}

#login-register-button {
    background-color: #FFB320;
    color: #131313;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 600;
}
/* end: header styles */

/* start: dying light styles */
#dl-image {
    background: url(img4.jpg) top center no-repeat;
    height: 820px;
}

.dl-marketing-text {
    max-width: 1200px;
    margin: -30px auto 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.dl-marketing-text h1 {
    color: #eee;
    font-size: 3.5em;
    font-weight: 300;
    margin: 0.5em 0;
}

.dl-marketing-text span {
    color: #FFB320;
}

.dl-marketing-text h5 {
    color: #eee;
    font-size: 0.85em;
    font-weight: 300;
    max-width: 500px;
    line-height: 2;
    margin-bottom: 2.5em;
}

.dl-marketing-text button {
    background-color: #FFB320;
    color: #131313;
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 0.85em;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
/* end: dl styles */

/* start: posts/comments styles */


#posts-comments .fg {
    flex-basis: 32%;
    position: relative;
}

#posts-comments .fg p {
    color: #eee;
    font-weight: 600;
}

#posts-comments .fg img {
    margin-bottom: 0.5em;
}

#posts-comments .fg img.footer-graphic {
    position: absolute;
    margin-bottom: 0;
    width: 115%;
}

#posts-comments .posts-comments-box {
    flex-basis: 28%;
    background-color: #252525;
    padding: 20px 20px 25px;
    border: 1px solid #4a4a4a;
}

#posts-comments .posts-comments-box h3 {
    color: #eee;
}

.post-item {
    margin-top: 25px;
}

.post-item:first-child {
    margin-top: 0;
}

.post-item:after {
    content: "";
    display: table;
    clear: both;
}

.post-item img {
    float: left;
    width: 30%;
}

.post-item > div {
    float: left;
    margin-left: 5%;
    width: 65%;
}

.post-item > div h5 {
    color: #FFB320;
    font-size: 0.8em;
    margin-top: 0;
}

.post-item > div p {
    color: #eee;
    margin: 5px 0;
    font-size: 0.8em;
}

.post-item > div small {
    color: #999;
    font-size: 0.75em;
}

.comments-item {
    margin-top: 1em;
}

.comments-item:first-child {
    margin-top: 0;
}

.comments-item:after {
    content: "";
    display: table;
    clear: both;
}

.comments-item img {
    width: 23%;
    height: auto;
    border-radius: 50%;
    float: left;
}

.comments-item > div {
    float: left;
    margin-left: 7%;
    width: 70%;
}

.comments-item > div p {
    color: #eee;
    font-size: 0.8em;
    margin: 0 0 5px;
}

.comments-item > div p span {
    color: #999;
}

.comments-item > div p span.author {
    color: #E92159;
}

.comments-item > div h5 {
    color: #FFB320;
    font-size: 0.8em;
    margin-top: 0;
}
/* end: posts/comments styles */





/* REFERENCE: https://codepen.io/onclickmedia/pen/LoGvoX */